# Node modules
./backend/node_modules

# Compilation output
./backend/dist

# pnpm deploy output
./backend/bundle

# Hardhat Build Artifacts
./backend/artifacts

# Hardhat compilation (v2) support directory
./backend/cache

# Typechain output
./backend/types

# Hardhat coverage reports
./backend/coverage
